/* 
.img-fluid{
    width: 100%;
    padding: 20px;
    height: 300px;
}
.card-title{
    color: black;
    font-size: 18px;
}
.card{
    height: 420px;
    cursor: pointer;
}
.side-1{
    background-color: blue;
    padding: 10px;
}
.side-2{
    padding: 50px;
} */